<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="webpages:Version" value="2.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="PreserveLoginUrl" value="true" />
	<!--是否启用前台检验功能（true:是,false:否）-->
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<!--是否记录操作日志（true:是,false:否）-->
	<add key="LogEnabled" value="true" />
	<!--是否记录错误日志（true:是,false:否）-->
	<add key="ExceptionEnabled" value="true" />
	<!--是否启用单机登陆功能（true:是,false:否）-->
	<add key="IsSingleLogin" value="false" />
	<!--是否使用global中的ExceptionHandlerStarter异常处理功能（on:是,false:否）-->
	<add key="ExceptionMode" value="on" />
	<!--异常处理页面URL-->
	<add key="ExceptionUrl" value="/Exception/Index" />
	<!--静态文件版本控制-->
	<add key="SiteVersion" value="201409241416" />
  
	<!--邮件发送配置 start-->
	<!--发件箱的邮件服务器地址-->
	<add key="mSenderServerHost" value="mail.wyn88.com" />
	<!--发件箱的用户名-->
	<add key="mSenderUsername" value="hrservices@wyn88.com" />
	<!--发件人邮箱密码-->
	<add key="mSenderPassword" value="PtIyQG8QkW" />
	<!--邮件发送配置 End-->
	<!--推送返回的连接-->
	<add key="pushUrl" value="http://localhost:40586/tpl_questionnaire/fill" />
	<!--邮件发送配置 End-->
</appSettings>