<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <!--<add name="Entities" connectionString="metadata=res://*/TPL.TPL.csdl|res://*/TPL.TPL.ssdl|res://*/TPL.TPL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.8.7.4;initial catalog=TalentProduceLine;user id=sa;password=Aa83986588;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="Entities" connectionString="metadata=res://*/TPL.TPL.csdl|res://*/TPL.TPL.ssdl|res://*/TPL.TPL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.8;initial catalog=TalentProduceLine;user id=sa;password=Aa123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="Entities" connectionString="metadata=res://*/Sys.Sys.csdl|res://*/Sys.Sys.ssdl|res://*/Sys.Sys.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Zeje.Sys;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>