/*#region 基本样式*/
body, div, h1, h2, h3, h4, h5, h6, p, pre, blockquote, dl, dt, dd, ul, ol, li, form, fieldset, legend, input, textarea, button, th, td { margin: 0; padding: 0; }
body { font: 14px/1.5 microsoft yahei, "Lucida Grande",Arial,Lucida,Verdana, Helvetica,sans-serif; color: #333; }
table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; }
div, a, input { outline: none; }
textarea { border: 1px solid #ddd; overflow: auto; resize: none; }
a, input[type=button], input[type=submit], input[type=checkbox] { cursor: pointer; }
fieldset, img { border: none; }
address, caption, cite, code, dfn, em, th, var { font-weight: normal; font-style: normal; }
ul, ol { list-style-type: none; }
caption, th { text-align: left; }
q:after, q:before { content: ''; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
select, input, button, textarea { font-size: 100%; }
html { _overflow-x: hidden; _overflow-y: auto; }
/*#endregion*/
/*#region bug修复*/
.no-space { word-spacing: 0; }
.set-space { word-spacing: 3px; word-spacing: 3px\9; }
/*.biS{background-image:url("../images/common/space.gif");}/*IE层级多连接Bug*/ */ .clearfix:after { zoom: 1; content: "."; display: block; visibility: hidden; height: 0; clear: both; font-size: 0px; }
.clearfix { zoom: 1; }
/*子集浮动Bug*/
.clear { clear: both; }
body { /*_word-break:break-all;*/ }
/*IE6连续英文折行*/
img { -ms-interpolation-mode: bicubic; vertical-align: bottom; }
/*IE7，IE8浏览器强制缩放图片失真;图文混排间隙清除*/
del { font-family: \5B8B\4F53; }
/*避免删除线造成数字8视觉上为0*/
/* html{zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache",false,true);}(this));}  IE6背景图闪烁Bug*/
/*#endregion*/
/*#region 定位*/
.dB { display: block; }
.dN { display: none; }
.dI { display: inline-block; }
.pRel { position: relative; }
.pAbs { position: absolute; }
.bN { border: none; }
.fl { float: left; _display: inline; }
.fr { float: right; _display: inline; }
.wsN { white-space: nowrap; }
.vaT { vertical-align: top; }
.vaM { vertical-align: middle; }
.vaB { vertical-align: bottom; }
.vH { visibility: hidden; }
.zoom { zoom: 1; }
.break { word-break: break-all; word-wrap: break-word; }
/*#endregion*/
/*#region 文字*/
.fwB { font-weight: bold; }
.fwN { font-weight: normal; }
.taL { text-align: left; }
.taC { text-align: center; }
.taR { text-align: right; }
.tdL { text-decoration: underline; }
.tdN { text-decoration: none; }
.fontArial { font-family: 'Arial'; }
.fontHelv { font-family: 'Helvetica'; }
.fontTahoma { font-family: 'Tahoma'; }
.fontTimes { font-family: "Times New Roman"; }
.ffESS { font-family: 'sans-serif'; }
.fontSongti { font-family: '宋体'; }
.fontHeiti { font-family: '黑体'; }
.fontYaHei { font-family: 'Micriosoft YaHei'; }
.fontGeor { font-family: Georgia; }
.size12 { font-size: 12px; }
.size14 { font-size: 14px; }
.size16 { font-size: 16px; }
.size18 { font-size: 18px; }
.size20 { font-size: 20px; }
.size22 { font-size: 22px; }
.size24 { font-size: 24px; }
.size26 { font-size: 26px; }
.size28 { font-size: 28px; }
.size30 { font-size: 30px; }
.size32 { font-size: 32px; }
.size34 { font-size: 34px; }
.size36 { font-size: 36px; }
.size38 { font-size: 38px; }
.size40 { font-size: 40px; }
.size42 { font-size: 42px; }
.size44 { font-size: 44px; }
.size46 { font-size: 46px; }
.size48 { font-size: 48px; }
.size50 { font-size: 50px; }
.size52 { font-size: 52px; }
.size54 { font-size: 54px; }
.size56 { font-size: 56px; }
.size58 { font-size: 58px; }
.size60 { font-size: 60px; }
.fL12 { line-height: 12px; }
.fL14 { line-height: 14px; }
.fL16 { line-height: 16px; }
.fL18 { line-height: 18px; }
.fL20 { line-height: 20px; }
.fL22 { line-height: 22px; }
.fL24 { line-height: 24px; }
.fL26 { line-height: 26px; }
.fL28 { line-height: 28px; }
.fL30 { line-height: 30px; }
.fL32 { line-height: 32px; }
.fL34 { line-height: 34px; }
.fL36 { line-height: 36px; }
.fL38 { line-height: 38px; }
.fL40 { line-height: 40px; }
.fL42 { line-height: 42px; }
.fL44 { line-height: 44px; }
.fL46 { line-height: 46px; }
.fL48 { line-height: 48px; }
.fL50 { line-height: 50px; }
.fL52 { line-height: 52px; }
.fL54 { line-height: 54px; }
.fL56 { line-height: 56px; }
.fL58 { line-height: 58px; }
.fL60 { line-height: 60px; }
.c000 { color: #000; }
.c333 { color: #666; }
.c666 { color: #666; }
.c999 { color: #999; }
.cCCC { color: #CCC; }
.cFFF { color: #FFF; }
/*#endregion*/
/*#region 边距*/
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }
.m25 { margin: 25px; }
.m30 { margin: 30px; }
.m35 { margin: 35px; }
.m40 { margin: 40px; }
.m45 { margin: 45px; }
.m50 { margin: 50px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }
.ml45 { margin-left: 45px; }
.ml50 { margin-left: 50px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr40 { margin-right: 40px; }
.mr45 { margin-right: 45px; }
.mr50 { margin-right: 50px; }
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p25 { padding: 25px; }
.p30 { padding: 30px; }
.p35 { padding: 35px; }
.p40 { padding: 40px; }
.p45 { padding: 45px; }
.p50 { padding: 50px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }
.pt40 { padding-top: 40px; }
.pt45 { padding-top: 45px; }
.pt50 { padding-top: 50px; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }
.pb40 { padding-bottom: 40px; }
.pb45 { padding-bottom: 45px; }
.pb50 { padding-bottom: 50px; }
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl35 { padding-left: 35px; }
.pl40 { padding-left: 40px; }
.pl45 { padding-left: 45px; }
.pl50 { padding-left: 50px; }
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }
.pr35 { padding-right: 35px; }
.pr40 { padding-right: 40px; }
.pr45 { padding-right: 45px; }
.pr50 { padding-right: 50px; }
/*#endregion*/
/*#region 尺寸*/
.w5 { width: 5px; }
.w10 { width: 10px; }
.w15 { width: 15px; }
.w20 { width: 20px; }
.w25 { width: 25px; }
.w30 { width: 30px; }
.w35 { width: 35px; }
.w40 { width: 40px; }
.w45 { width: 45px; }
.w50 { width: 50px; }
.w55 { width: 55px; }
.w60 { width: 60px; }
.w65 { width: 65px; }
.w70 { width: 70px; }
.w75 { width: 75px; }
.w80 { width: 80px; }
.w85 { width: 85px; }
.w90 { width: 90px; }
.w95 { width: 95px; }
.w100 { width: 100px; }
.w105 { width: 105px; }
.w110 { width: 110px; }
.w115 { width: 115px; }
.w120 { width: 120px; }
.w125 { width: 125px; }
.w130 { width: 130px; }
.w135 { width: 135px; }
.w140 { width: 140px; }
.w145 { width: 145px; }
.w150 { width: 150px; }
.w155 { width: 155px; }
.w160 { width: 160px; }
.w165 { width: 165px; }
.w170 { width: 170px; }
.w175 { width: 175px; }
.w180 { width: 180px; }
.w185 { width: 185px; }
.w190 { width: 190px; }
.w195 { width: 195px; }
.w200 { width: 200px; }
.w205 { width: 205px; }
.w210 { width: 210px; }
.w215 { width: 215px; }
.w220 { width: 220px; }
.w225 { width: 225px; }
.w230 { width: 230px; }
.w235 { width: 235px; }
.w240 { width: 240px; }
.w245 { width: 245px; }
.w250 { width: 250px; }
.w255 { width: 255px; }
.w260 { width: 260px; }
.w265 { width: 265px; }
.w270 { width: 270px; }
.w275 { width: 275px; }
.w280 { width: 280px; }
.w285 { width: 285px; }
.w290 { width: 290px; }
.w295 { width: 295px; }
.w300 { width: 300px; }
.h5 { height: 5px; }
.h10 { height: 10px; }
.h15 { height: 15px; }
.h20 { height: 20px; }
.h25 { height: 25px; }
.h30 { height: 30px; }
.h35 { height: 35px; }
.h40 { height: 40px; }
.h45 { height: 45px; }
.h50 { height: 50px; }
.h55 { height: 55px; }
.h60 { height: 60px; }
.h65 { height: 65px; }
.h70 { height: 70px; }
.h75 { height: 75px; }
.h80 { height: 80px; }
.h85 { height: 85px; }
.h90 { height: 90px; }
.h95 { height: 95px; }
.h100 { height: 100px; }
.h105 { height: 105px; }
.h110 { height: 110px; }
.h115 { height: 115px; }
.h120 { height: 120px; }
.h125 { height: 125px; }
.h130 { height: 130px; }
.h135 { height: 135px; }
.h140 { height: 140px; }
.h145 { height: 145px; }
.h150 { height: 150px; }
.h155 { height: 155px; }
.h160 { height: 160px; }
.h165 { height: 165px; }
.h170 { height: 170px; }
.h175 { height: 175px; }
.h180 { height: 180px; }
.h185 { height: 185px; }
.h190 { height: 190px; }
.h195 { height: 195px; }
.h200 { height: 200px; }
.h205 { height: 205px; }
.h210 { height: 210px; }
.h215 { height: 215px; }
.h220 { height: 220px; }
.h225 { height: 225px; }
.h230 { height: 230px; }
.h235 { height: 235px; }
.h240 { height: 240px; }
.h245 { height: 245px; }
.h250 { height: 250px; }
.h255 { height: 255px; }
.h260 { height: 260px; }
.h265 { height: 265px; }
.h270 { height: 270px; }
.h275 { height: 275px; }
.h280 { height: 280px; }
.h285 { height: 285px; }
.h290 { height: 290px; }
.h295 { height: 295px; }
.h300 { height: 300px; }
/*#endregion*/
/*#region TextBox ReadOnly*/
/*IE*/
input { background-color: expression((this.readOnly && this.readOnly == true)? "#f1efef":""); }
    /*chrome*/
    input[readonly] { background-color: #f1efef; }
/*#endregion*/
/*#region alert*/
.alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.alert-info { color: #31708f; background-color: #d9edf7; border-color: #bce8f1; }
.alert-warning { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
.alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.alert { padding: 5px; margin-bottom: 5px; border: 1px solid transparent; border-radius: 4px; }
/*#endregion*/
/*#region A Button */
.AButton { display: inline-block; border: 1px solid #CCC; background: #FFF; padding: 1px 4px; text-decoration: none; }
    .AButton:link { color: blue; text-decoration: none; }
    .AButton:active { color: red; text-decoration: none; }
    .AButton:visited { color: #0a81f3; text-decoration: none; }
    .AButton:hover { color: red; text-decoration: none; }
.AButtonDisable { color: #000000 !important; background-color: #CCC !important; }
    .AButtonDisable:active { color: #000000 !important; }
    .AButtonDisable:hover { color: #000000; }
/*#endregion*/
/*#region 表格*/
.tbTPL { }
    .tbTPL thead { }
        .tbTPL thead th { }
        .tbTPL thead td { }
    .tbTPL tbody { }
        .tbTPL tbody th { text-align: right; }
        .tbTPL tbody td { padding: 5px; }
    .tbTPL tfoot { }
        .tbTPL tfoot th { }
        .tbTPL tfoot td { }
/*#endregion*/
/*#region 全局*/
.anUnderLine { text-decoration: underline; }
/*#region 新增*/
.main-add .editor-label { width: 80px; height: 53px; float: left; }
.main-add .editor-field { width: 282px; height: 53px; float: left; }
.main-add .main-content { border: 1px solid #CCC; }
/*#endregion*/
/*#region 编辑*/
.main-edit .editor-label { width: 80px; height: 53px; float: left; }
.main-edit .editor-field { width: 282px; height: 53px; float: left; }
.main-edit .main-content { border: 1px solid #CCC; }
/*#endregion*/
/*#endregion*/
/*#region 基本布局*/
#body { margin: 0px auto; }
.main { }
    /*面包屑*/
    .main .divPlaceholder { height: 70px; }
    .main .divFloat { width: 100%; height: 65px; z-index: 8000; position: fixed; left: 0; top: 0; overflow: hidden; background-color: #ffffff; }
    .main .divCrumbs { padding-left: 10px; margin-top: 5px; height: 25px; overflow: hidden; line-height: 1.5; z-index: 10000; zoom: 1; }
        .main .divCrumbs a, a:hover { color: #333; text-decoration: none; }
        .main .divCrumbs ul { margin-left: -20px; }
        .main .divCrumbs li { float: left; word-wrap: normal; white-space: nowrap; }
            .main .divCrumbs li i { display: inline-block; *display: inline; *zoom: 1; width: 20px; text-align: center; font-size: 12px; color: #ccc; font-family: \5b8b\4f53; }
    /* 空白分隔 */
    .main .divCrumbs-blank ul { margin-left: -10px; }
    .main .divCrumbs-blank li { display: inline; margin-left: 10px; }
    .main .divTools { text-align: right; padding: 3px 10px; margin: 0px; border-width: 1px; border-style: solid; border-color: #95B8E7; background-color: #E0ECFF; }
    /*#region 过滤条件*/
    .main .divFilter { }
        .main .divFilter .hd { }
        .main .divFilter .bd { }
        .main .divFilter .tbFilter { padding-left: 10px; margin-top: 3px; margin-bottom: 3px; width: 100%; color: #000000; /*border-width: 1px 0px 0px 1px;
            border-style: solid;
            border-color: #95B8E7;*/ border-collapse: separate; border-spacing: 0; table-layout: fixed; }
            .main .divFilter .tbFilter tr { display: table-row; vertical-align: inherit; border-color: inherit; }
            .main .divFilter .tbFilter thead { }
                .main .divFilter .tbFilter thead th { }
                .main .divFilter .tbFilter thead td { }
            .main .divFilter .tbFilter tbody { }
                .main .divFilter .tbFilter tbody th { text-align: right; padding-left: 3px; padding-right: 3px; margin-top: 3px; margin-bottom: 3px; background: #F4F4F4; border-spacing: 2px; /*border-color: #95B8E7;
                    border-width: 0 1px 1px 0;
                    border-style: solid;*/ }
                .main .divFilter .tbFilter tbody td { padding: 3px; margin-top: 3px; margin-bottom: 3px; border-spacing: 2px; /*border-width: 0 1px 1px 0;
                    border-style: solid;
                    border-color: #95B8E7;*/ }
            .main .divFilter .tbFilter tfoot { }
                .main .divFilter .tbFilter tfoot th { }
                .main .divFilter .tbFilter tfoot td { }
    /*#endregion*/
    /*#region 表格*/
    /*#endregion*/
    /*#region 列表界面*/
    .main .divList { }
    .main .List .hd { }
    .main .divList .bd { }
    .main .divList .tbList { }
        .main .divList .tbList thead { }
            .main .divList .tbList thead th { }
            .main .divList .tbList thead td { }
        .main .divList .tbList tbody { }
            .main .divList .tbList tbody th { }
            .main .divList .tbList tbody td { }
        .main .divList .tbList tfoot { }
            .main .divList .tbList tfoot th { }
            .main .divList .tbList tfoot td { }

    .main .tbDetails thead { }
        .main .tbDetails thead th { }
        .main .tbDetails thead td { }
    .main .tbDetails tbody { }
        .main .tbDetails tbody th { padding-right: 5px; }
        .main .tbDetails tbody td { text-indent: 5px; font-style: italic; border-bottom: solid 1px gray; }
    .main .tbDetails tfoot { }
        .main .tbDetails tfoot th { }
        .main .tbDetails tfoot td { }
/*#endregion*/
/*#endregion*/
/*#region Pop*/
.main-pop .unSelect { text-align: right; padding-right: 10px; margin: 5px 0px; }
.main-pop .city-area .tabItem { display: inline-block; }
.main-pop .city-area .province-city { display: inline-block; zoom: 1; height: 20px; padding: 0 2px 1px; margin: 5px 10px; border-radius: 0; line-height: 20px; color: #0E2D5F; text-decoration: none; font-weight: 700; }
.main-pop .province-area { }
    .main-pop .province-area .province-header { }
    .main-pop .province-area .province-body { }
    .main-pop .province-area .province-item { display: inline-block; zoom: 1; height: 20px; padding: 0 2px 1px; margin: 5px 10px; border-radius: 0; line-height: 20px; color: #0E2D5F; text-decoration: none; font-weight: 700; }
/*#endregion*/

/*#region fix*/
.textbox { height: 24px; }
select { height: 24px; }
/*#endregion*/







