body {
    font: 14px/1.5 microsoft yahei, "Lucida Grande",Arial,Lucida,Verdana, Helvetica,sans-serif;
    color: #333;
}

.qHeaderContainer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.qHeader {
    font-weight: 100;
    margin: 0;
    color: #1f8dd6;
    font-size: xx-large;
}

.qSubHeader {
     color: #a4a1a1;
}


.typeTab {
}

.qType {
    height: 36px;
    line-height: 36px;
    color: #fff;
    padding-left: 10px;
}

.qTypeContent {
    padding-left: 10px;
    padding-right: 10px;
}

#tab_1 .qType {
    background: #0e90d2;
}

#tab_2 .qType {
    background: rgb(243, 123, 29);
}

#tab_3 .qType {
    background: #dd514c;
}

#tab_4 .qType {
    background: rgb(128, 88, 165);
}

#tab_5 .qType {
    background: #5eb95e;
}

#tab_6 .qType {
    background: rgb(250, 210, 50);
}

.qItem {
    margin: 10px 0;
    border: 1px solid #a4a1a1;
    border-left-width: 5px;
    border-radius: 3px;
}

.item_1 {
    border-left-color: #0e90d2;
}

.item_2 {
    border-left-color: rgb(243, 123, 29);
}

.item_3 {
    border-left-color: #dd514c;
}

.item_4 {
    border-left-color: rgb(128, 88, 165);
}

.item_5 {
    border-left-color: #5eb95e;
}

.item_6 {
    border-left-color: rgb(250, 210, 50);
}

.qItemTitle {
    margin-left: 10px;
    padding-top: 8px;
}

.qItemDescipt {
    margin-left: 30px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.qItemContent {
    margin-left: 30px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.qFooter {
    text-align: center;
}

a.button-cta, a.button-secondary {
    font-size: 125%;
}

a.button-cta {
    background: #1f8dd6;
    color: #fff;
    border: 1px solid #1f8dd6;
}
