body { font: 14px/1.5 Microsoft yahei,Arial, Helvetica; color: #666; }

.login-header .wyn-logo { float: left; margin: 35px 0 0 22px; }


img { border: 0px; margin: 0px; outline-style: none; outline-color: invert; padding: 0px; outline-width: 0px; }

.login-header .wrap { height: 134px; position: relative; }

.login-header .hot-line { float: right; font-size: 18px; margin: 48px 45px 0 0; }

.banner-image { height: 450px; width: 100%; }

    .banner-image h3 { color: #52DDFF; font-size: 42px; font-weight: bold; width: 945px; padding: 120px 0 5px 55px; margin: 0 auto; }

    .banner-image p { color: #fff; font-size: 22px; width: 945px; padding: 0 0 0 55px; margin: 0 auto; }

.container-main { position: relative; *zoom: 1; height: 450px; min-width: 1000px; }

.login-banner-holder { height: 450px; }

.login-main { position: relative; height: 450px; min-width: 1000px; }

.login-content { position: relative; height: 450px; min-width: 1000px; background: url(images/login/banner.jpg) no-repeat left top; }

    .login-content .login-content-in { }


        .login-content .login-content-in .login-bar .hd { }

        .login-content .login-content-in .login-bar .bd { }

/*#region intro*/
.container-intro { text-align: center; }

    .container-intro .wrap { width: 800px; margin: 0 auto; padding: 20px 0; background: none; overflow: hidden; }

.intro-holder { width: 220px; padding: 0 0 0 36px; float: left; }

.intro-holder-first { background: none; }

.intro-holder dt { padding: 0 0 0 50px; margin: 0 0 20px; }

    .intro-holder dt .icon-intro { float: left; margin: 0 0 0 -50px; width: 40px; height: 41px; background-image: url(images/login/intro-icon.png); background-repeat: no-repeat; }

.icon-intro-position { background-position: 0px 0; }

.icon-intro-evaluation { background-position: -58px 0; }

.icon-intro-pool { background-position: -120px 0; }

.intro-holder dt .title { color: #3071B8; font-size: 21px; display: block; line-height: 1; margin: 0 0 5px; }

.intro-holder dt .tip { color: #73A6DF; font-size: 14px; display: block; }

.intro-holder dd { padding: 0 0 0 50px; }

    .intro-holder dd .detail { font-size: 14px; line-height: 30px; display: block; }

    .intro-holder dd .dot { color: #72A5DF; float: left; margin: 0 0 0 -12px; }

/*#endregion*/

/*#region login-form*/
.login-form-holder { width: 330px; position: absolute; z-index: 99; top: 44px; left: 50%; margin: 0 0 0 130px; }

.login-form { width: 290px; padding: 20px 20px; background: url(images/login/login-holder-bg.png) repeat; right: 41px; top: 44px; border-radius: 8px; }

    .login-form h2 { color: #fff; font-size: 18px; line-height: 1.125; margin: 0 0 20px; }

    .login-form .forget-password { color: #fff; float: right; margin: 5px 0 0; line-height: 40px; }

    .login-form .auto-login { color: #fff; font-size: 12px; }

    .login-form .ui-form-item { margin: 0 0 20px; }

.login-text { color: #333; font-size: 14px; line-height: 20px; height: 20px; padding: 10px 13px; border: 0 none; font-family: arial; border-radius: 3px; width: 264px; }

.login-text-validatecode { color: #333; font-size: 14px; line-height: 20px; height: 20px; padding: 10px 13px; border: 0 none; font-family: arial; border-radius: 3px; width: 184px; }

.login-img-validatecode { }

    .login-img-validatecode img { /*设置图片垂直居中*/ vertical-align: middle; }


.ui-form-item-error { color: #ff0000; padding: 0 0 1px 5px; vertical-align: baseline; margin: 2px 0 0; line-height: 20px; font-size: 12px; line-height: 20px; height: 20px; }

.login-form .ui-form-explain { display: none; }

.login-submit { width: 290px; height: 47px; border: 0 none; background: url(images/login/login-form.png) no-repeat; }

    .login-submit:hover { background-position: 0 -136px; }
/*#endregion*/

.container-footer { text-align: center; }

    .container-footer .wrap { width: 800px; margin: 0 auto; padding: 20px 0; background: none; overflow: hidden; }
